{% extends "base_generic.html" %}
{% block content %}
<style>
  ul { margin-top: 0; }
  ul { margin-bottom: 0; }
</style>

  <h1>Select project </h1>
  <script type="text/javascript">
    function foo() {
        // function body here
        // for example
        d = document.getElementById("PublicWords").value;
        alert(d);
    }
    </script>
    
  <label for="experiment-select">Select an experiment:</label>
  <form method="POST">
    {% csrf_token %}
    <select  id="select_experiment" name="select_experiment">
        <option value="">--Choose an experiment--</option>
        {% for experiment in select_dict.experiment_list %}
            {% if selected_dict.experiment != experiment %}<option value="{{ experiment }}">{{ experiment }}</option>{% endif %}
            {% if selected_dict.experiment == experiment %}<option selected="selected" value="{{ experiment }}">{{ experiment }}</option>{% endif %}
        {% endfor %}
    </select>

    {% if select_dict.well_list  %}
    <select id="select_well" name="select_well" class="select_well">
        <option value="">--Choose a well--</option>
        {% for well in select_dict.well_list %}
            {% if selected_dict.well != well %}<option value="{{ well }}">{{ well }}</option>{% endif %}
            {% if selected_dict.well == well %}<option selected="selected" value="{{ well }}">{{ well }}</option>{% endif %}
        {% endfor %}
    </select>
    {% endif %}

    {% if select_dict.position_list  %}
    <select id="select_position" name="select_position" class="select_position">
        <option value="">--Choose a position--</option>
        {% for position in select_dict.position_list %}
            {% if selected_dict.position != position %}<option value="{{ position }}">{{ position }}</option>{% endif %}
            {% if selected_dict.position == position %}<option selected="selected" value="{{ position }}">{{ position }}</option>{% endif %}
        {% endfor %}
    </select>
    {% endif %}

    <br><br>
    <input type="submit" value="Submit" name="submit_data">
  </form>



  {% csrf_token %}

  <select onchange="foo()" id="PublicWords"> 
    <option value="">All</option>
    <option value="">Draft</option>
    <option value="">Approved</option>
    <option value="">Approved ZWNJ</option>
    <option value="">Rejected</option>
</select>  

    
  <div class="result"></div>
  

  <form method="POST">
    {% csrf_token %}
    <input type="submit" name="reset" value="Reset">
  </form>

  <form method="POST">
    {% csrf_token %}
    <input type="submit" name="register_rawdataset" value="Register RAW datasets">
    <input type="submit" name="segment" value="Segment">
    <input type="submit" name="build_cell_frames" value="Build Cell Frames">
    <input type="submit" name="build_cells" value="Build Cells">
    <input type="submit" name="intensity" value="Intensity">
  </form>

<br>
{% if experiment_dict.experiment_name %}
<strong>Experiment name:</strong> {{experiment_dict.experiment_name}}</br>
{% endif %}

  <br><br><br>

  <img src="data:image/png;base64,{{ plot }}"/>

    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>

  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
{% endblock %}
